.container
  .row
    .col-12.col-lg-6
      .card
        .card-header
          .card-title.title Padi Open Water Diver
        .card-body
          %p.card-text
            El primer paso en la vida de cualquier buzo, un programa en el cual descubrirás el mundo submarino con
            instructores profesionalmente entrenados para asegurar tu seguridad y permitirte apreciar esta única
            experiencia.
            %br
            El programa dura 2 horas y te facilita todo lo necesario. Incluye una clase teórica, equipo, instructor y
            paseo. Como un regalo, se te darán fotografías de cortesía para recordar tu aventura.
        .card-footer
          %ul.list-group.list-group-flush
            %li.list-group-item
              Valor: 40.000 por persona
            %li.list-group-item
              Edad mínima: 10 años
    .col-12.col-lg-6
      .card
        .card-header
          .card-title.title Open Water Scuba Diver
        .card-body
          %h3 La licencia de buceo autónomo más reconocida a nivel mundial.
          %p
            Esta licencia certificara tus habilidades como un buceador autónomo y te capacita para poder descender
            hasta una profundidad de 18 metros con un compañero sin la supervisión de un buzo profesional.
            %br
            El curso tiene una duración mínima de 3 días en los cuales se te entregara un manual con el cual
            aprenderás y realizaras diferentes ejercicios en inmersiones tanto de orilla como en mar abierto,
            ejercicios que luego verificaras con revisiones teóricas.
            %br
            Una vez completado el curso se te otorgará una licencia física y quedaras inscrito como buceador oficial
            en los registros de PADI, lo cual te abrirá las puertas en centros de buceo de casi todos los países del
            mundo.
        .card-footer
          %ul.list-group.list-group-flush
            %li.list-group-item
              Valor: 273.000
            %li.list-group-item
              Edad Mínima: 10 años (niños menores de 15 años se certifican como Junior Open Water)
  .row
    .col-12.col-lg-6
      .card
        .card-header
          .card-title.title Advanced Open Water Diver
        .card-body
          %h3 Avanza tus habilidades como buzo autónomo
          %p
            Aquellos que quieran especializar y aprender nuevas habilidades pueden continuar la aventura como
            Advanced Open Water Divers. Siendo capacitados para bajar hasta una profundidad de 30 metros, el
            curso cuenta de 5 inmersiones en los cuales se aprenden específicas y nuevas habilidades.
            %br
            Entre ellas hay 2 que son obligatorias: Buceo Profundo (30mt) y Navegación Submarina.
            %br
            Las otras 3 habilidades son elección del buceador de una larga lista de actividades. Para mencionar
            algunas: Buceo Nocturno, Catalogación de Especies, Fotografía, Búsqueda y Recuperación, Control de
            Flotabilidad, Traje Seco, Aire Enriquecido, Exploración de Naufragios, entre otras.
        .card-footer
          %ul.list-group.list-group-flush
            %li.list-group-item
              Valor: A DETERMINAR
            %li.list-group-item
              Edad Minima: 12 años
    .col-12.col-lg-6
      .card
        .card-header
          .card-title.title Rescue Diver
        .card-body
          %h3 El primer paso para convertirse en un profesional del buceo.
          %p
            Un Rescue Diver se especializa en prevenir y manejar posibles problemas en el agua. Un desafiante pero
            gratificante desafío que refinara tus habilidades como buceador.
            %br
            Aunque pueda sonar serio, el curso en si es una entretenida experiencia, te enseñara a ser un mejor y
            más consciente compañero de buceo y a mejorar tus habilidades de solución de problemas hasta un
            punto en el cual se convertirá en algo innato.
            %br
            Dentro del curso se te preparara para lidiar con emergencias bajo el agua tanto mayor como menor
            usando técnicas especiales. Dentro de estas se encuentran:
          %ul
            %li
              Auto-Rescate
            %li
              Reconocer y gestionar buzos bajo estrés
            %li
              Manejo de emergencias y equipo especial
            %li
              Rescatar buzos en pánico
            %li
              Rescatar buzos inconscientes
        .card-footer
          %ul.list-group.list-group-flush
            %li.list-group-item
              Valor: A determinar
            %li.list-group-item
              Edad mínima: 12 años
            %li.list-group-item
              /Destacar esto
              %span
                Se requiere: Emergency First Response Primary and Secondary Care (RCP y Primeros Auxilios)
  .row
    .col-12.col-lg-6
      .card
        .card-header
          .card-title.title Divemaster
        .card-body
          %h3 Conviértete en un líder y mentor para nuevos buceadores
          %p
            El curso de Divemaster es la solidificación de todas las habilidades pasadas, te establece como un
            verdadero profesional del buceo autónomo y te permite trabajar en la creciente industria del buceo
            recreacional.
            %br
            Como el principal asistente de un Instructor, perfeccionaras todas tus habilidades, guiaras buzos bajo el
            agua y les enseñaras un nuevo mundo, asistirás en clases de buceo y aprenderás como gestionar grupos
            tanto en el agua como en tierra.
            %br
            Terminaras siendo parte de un grupo de profesionales en la asociación de buceo más grande del mundo.
        .card-footer
          %ul.list-group.list-group-flush
            %li.list-group-item
              Valor: A determinar
            %li.list-group-item
              Edad Mínima: 18 años
            %li.list-group-item
              /Destacar
              %span
                Se requiere: Emergency First Response Primary and Secondary Care (RCP y Primeros Auxilios), revisión
                médica y 40 buceos para empezar y 60 para finalizar.
