.container-fluid
  =# javascript_pack_tag 'hello_vue'
  .row
    .col
      =# generar_jumbotron

  .row.mt-0
    .col-1
    .col-10
      #carouselHero.carousel.slide{ data: { ride: "carousel" } }
        .carousel-inner
          .carousel-item.active
            %img.img-fluid{ src: '/images/carrusel_deep_diver_diving_suit.jpg', alt: 'Hero slide' }
            .carousel-caption.d-none.d-md-block
              %h1.title.titulo-carrusel
                ¡La aventura está en
                //%br
                /%br
                %strong Buceo Canelillo!
              %p Únete al equipo para vivir nuevas aventuras
          .carousel-item
            %img.img-fluid{ src: '/images/carrusel_naufragio.jpg', alt: 'Naufragio Algarrobo' }
            .carousel-caption.d-none.d-md-block
              %h2.title El naufragio de Algarrobo
              %p Explora los restos de este navío a metros de la orilla.

          .carousel-item
            %img.d-block.w-100{ src: '/images/carrusel_jaiba.png', alt: 'Third slide' }
            .carousel-caption.d-none.d-md-block
              %h2.title
                La fauna y flora marina te dejarán
                %strong atónito
              %p Descubre un mundo alienígena sin salir del planeta.
        %a.carousel-control-prev{ href: "#carouselHero", role: "button", data: { slide: "prev" } }
          %span.carousel-control-prev-icon{ aria: { hidden: "true" } }
          %span.sr-only Previous
        %a.carousel-control-next{ href: "#carouselHero", role: "button", data: { slide: "next" } }
          %span.carousel-control-next-icon{ aria: { hidden: "true" } }
          %span.sr-only Next
    .col-1
  %br
  %br
  %br
.container
  .row.mt-0.align-items-center.h-100
    .col-12.col-lg-4
      %h2.title
        ¡La aventura está en Buceo Canelillo!
      %p
        Nuestro centro de buceo -ubicado en la misma playa de El Canelillo- ofrece el lugar perfecto para
        aquellos que quieran iniciarse en el buceo con Scuba. Estando en la misma orilla de una de las más
        hermosas playas de Algarrobo, nuestro punto de entrada cuenta con un próspero entorno lleno de vida.
        Desde simples peces de roca como rollizos y bilagay, hasta el legendario tiburón pintarroja y criters
        como los nudibranchios.

    .col-12.col-lg-6
      %img.img-fluid{ src: '/images/camaron_de_roca_5B.png', alt: 'camarón de roca' }
    .col-12.col-lg-2

  %br
  .row.align-items-center.h-100
    .col-12.col-lg-2
    .col-12.col-lg-6
      %img.img-fluid{ src: '/images/naufragio_algarrobo.jpg', alt: 'camarón de roca' }

    .col-12.col-lg-4
      %h2.title
        El naufragio de Algarrobo
      / Colocar esto como una foto
      %p
        Los remanentes de un antiguo naufragio a solo metros de la orilla, nos proveen de una increíble y muy
        accesible experiencia para aquellos que recién empiezan en este deporte. Gracias a su baja profundidad
        cualquier persona puede descender y descubrir los restos de este navío.
  %br
  .row.align-items-center.h-100
    .col-12.col-lg-6
      %h2.title
        Bucea por
        %strong primera
        vez
      %p
        Aunque pueda parecer lo contrario, bucear no requiere de ninguna habilidad o condición física en
        particular. ¡De hecho, para bucear ni siquiera se tiene que saber nadar!
        Cualquier persona sobre los 10 años de edad puede realizar el Bautizo Submarino y descubrir el mundo
        bajo el agua, solo se requiere de una toalla y traje de baño.

    .col-12.col-lg-6
      %img.img-fluid{:alt => "Buceando", :src => "/images/dive-diver-eyes-37545.jpg"}/
  %br
  .row.align-items-center.h-100
    .col-12.col-lg-1
    .col-12.col-lg-7
      %img.img-fluid{:alt => "que-es-buceo", :src => "/images/animals-corals-deep-68767.jpg"}/
    .col-12.col-lg-3
      %h2
        ¿Qué es el
        = succeed "?" do
          %strong Buceo
      %p
        Definir el buceo es como definir cualquier otro término. Todo depende del contexto y propósito detrás
        de la pregunta. En nuestro caso, el buceo es una apertura a un nuevo, interesante y desconocido
        mundo. Una oportunidad de explorar un mundo alienígena sin tener que salir del planeta, descubrir la
        impresión de estar en gravedad cero, explorar nuevos lugares en los cuales nadie ha estado antes,
        descubrir criaturas únicas que no se pueden ver en ningún otro lugar.
        %br
        Para otros el buceo puede ser un escape de su mundo, una forma de relajación y hay aquellos que ven el
        buceo como un simple método de realizar su trabajo. Ya sea un buzo comercial realizando reparaciones
        en el fondo del océano o un buzo científico realizando estudios.
        %br
        Pero lo más importante, es que el buceo puede ser realizado por cualquier persona, no se requiere de
        entrenamiento o habilidades especiales y lo único que te limita es tu propia motivación a la aventura.
    .col-12.col-lg-1
