.container-fluid
  = javascript_pack_tag 'hello_vue'
  .row.mt-0
    .col
      #carouselHero.carousel.slide{ data: { ride: "carousel" } }
        .carousel-inner
          .carousel-item.active
            %img.img-fluid{ src: '/images/deep-diver-diving-suit-37530.jpg', alt: 'First slide' }
            .carousel-caption.d-none.d-md-block
              %h2.title
                Ven a descubrir el mundo marino en
                %strong Canelillo
              %p Certifícate con los cursos PADI
          .carousel-item
            %img.img-fluid{ src: '/images/carrusel_actinia.png', alt: 'Actinia naranja' }
            .carousel-caption.d-none.d-md-block
              %h2.title
                Ven a vivir una nueva experiencia
              %p Personal certificado

          .carousel-item
            %img.d-block.w-100{ src: '/images/carrusel_jaiba.png', alt: 'Third slide' }
            .carousel-caption.d-none.d-md-block
              %h2.title
                La fauna y flora marina te darán una experiencia fenomenal
                %strong Canelillo
              %p Certifícate con los cursos PADI
        %a.carousel-control-prev{ href: "#carouselHero", role: "button", data: { slide: "prev" } }
          %span.carousel-control-prev-icon{ aria: { hidden: "true" } }
          %span.sr-only Previous
        %a.carousel-control-next{ href: "#carouselHero", role: "button", data: { slide: "next" } }
          %span.carousel-control-next-icon{ aria: { hidden: "true" } }
          %span.sr-only Next
  %br
  %br
  %br
  .row.mt-0
    .col-12.col-lg-6
      %h2.title
        TITULO
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .col-12.col-lg-6
      %h2.title
        Titulo segunda columna
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %br
  %br
  %br
  .row.align-items-center.h-100
    .col-12.col-lg-6
      %h2.title
        Bucea por vez
        %strong primera
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .col-12.col-lg-6
      %img.img-fluid{:alt => "Buceando", :src => "/images/dive-diver-eyes-37545.jpg"}/
  .content
    %section
      .container.flex
        .text.editable
          %h2
            ¿Qué es el
            = succeed "?" do
              %strong buceo
          %p
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
            nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora
            incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
            ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
            laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
            eum iure reprehenderit qui in ea voluptate velit esse quam nihil
            molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
            nulla pariatur?
        .image
          %img.img-fluid{:alt => "que-es-buceo", :src => "/images/animals-corals-deep-68767.jpg"}/
