<%= javascript_pack_tag 'hello_vue' %>

<section class="hero">
	<div class="text-container">
		<h1 class="editable">Ven a descubrir el mundo marino en <strong>Canelillo</strong></h1>
		<p class="subtext editable">Certifícate con los cursos PADI.</p>
		<!--<div class="cta button alt"><a href="/sign-up/">Get Started Free</a></div>-->
		<div>
		</div>
	</div>
</section>
