.content
  %section
    .container.flex
      .text.editable
        %h2  ¡El rincón de las aventuras en Algarrobo!
        %p
          Con un privilegiado, hermoso y único entorno, Buceo Canelillo lo tiene todo para que puedas descubrir
          un nuevo mundo. Instalaciones en la misma playa, una orilla repleta de hermosos puntos de buceo, un
          naufragio a tan solo metros de la entrada y un equipo de experimentados buceadores que te llevaran a
          lugares únicos en las profundidades del mar.
        %p
          Nuestra escuela tiene como objetivo convertir el buceo autónomo en una actividad accesible, lograr que
          la gente se dé cuenta de este enorme, maravilloso e inexplorado mundo que se encuentra en nuestras
          mismas costas y promover el cuidado de nuestro mar y sus criaturas.
        %p
          Para ello, contamos con un personal de profesionales experimentados que tienen una verdadera pasión
          por lo que hacen.
        %p
          En Buceo Canelillo creemos que cualquier persona es capaz de realizar esta única aventura.
      .image
        %img.img-fluid{:alt => "Buceando", :src => "/images/dive-diver-eyes-37545.jpg"}/
