.container
  %br
  .row
    .col-12.col-lg-5
      %h2.title Bucea Ahora
      %p
        El bautismo o iniciación es tu primera experiencia en el buceo y a lo largo de unas 2 horas,
        experimentarás este deporte con una clase teórica de los aspectos fundamentales del buceo, una vez
        equipados, vamos a la inmersión final en la cual descenderás unos 10 metros y veras los restos de un
        naufragio rodeado de vida submarina.
      %p
        Es una actividad personalizada, divertida y segura, con guías certificados.
      %p
        Descubre este deporte y maravilloso fondo marino.
      %p
        Incluye todos los materiales, tan solo necesitas traer traje de baño y toalla.
      %p
        La edad mínima para realizar esta actividad son 10 años, siempre con autorización paterna.
      %p
        Buceo Canelillo entrega a sus clientes fotografías de cortesía como regalo en todas las actividades
    .col-12.col-lg-7
      %table.table.table-striped.table-bordered.table-hover.table-dark
        %thead.thead-light
          %tr
            %th Detalle
            %th Valor USD
            %th Valor $CLP
        %tbody
          %tr
            %td Buceo por primera vez (bautismo o iniciación)
            %td $ 80 USD
            %td $ 45.000 CLP
          %tr
            %td Inmersión única sin arriendo de equipo
            %td $ 45 USD
            %td $ 26.250 CLP
          %tr
            %td Inmersión doble sin arriendo de equipo
            %td $ 80 USD
            %td $ 47.250 CLP
          %tr
            %td Inmersión única con arriendo de equipo
            %td $ 65 USD
            %td $ 36.750 CLP
          %tr
            %td Inmersión doble con arriendo de equipo
            %td $ 100 USD
            %td $ 63.000 CLP
