<div class="content">
  <section class="page">
    <div class="container flex">
      <div class="text">
        <h2>Bucea Ahora</h2>
        <p>
          El bautismo o iniciación es tu primera experiencia en el buceo y a lo
          largo de unas tres horas, experimentarás este deporte, con una clase
          teórica con los aspectos fundamentales del buceo, una vez equipados y
          vamos a la inmersión final.
        </p>
        <p>
          Es una actividad personalizada, divertida y segura, con guías certificados.
        </p>
        <p>
          Descubre este deporte y maravilloso fondo marino.
        </p>
        <p>
          Incluye todos los materiales, tan solo necesitas traer traje de baño
          y toalla.
        </p>
        <p>
          La edad mínima para realizar esta actividad son 12 años, siempre con
          autorización paterna.
        </p>
      </div>
      <div class="text">
        <table class="blueTable">
          <thead>
            <tr>
              <th>Detalle</th>
              <th>Valor USD</th>
              <th>Valor $CLP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Buceo por primera vez (bautismo o iniciación)</td>
              <td>$ 80 USD</td>
              <td>$ 45.000 CLP</td>
            </tr>
            <tr>
              <td>Inmersión única sin arriendo de equipo</td>
              <td>$ 45 USD</td>
              <td>$ 26.250 CLP</td>
            </tr>
            <tr>
              <td>Inmersión doble sin arriendo de equipo</td>
              <td>$ 80 USD</td>
              <td>$ 47.250 CLP</td>
            </tr>
            <tr>
              <td>Inmersión única con arriendo de equipo</td>
              <td>$ 65 USD</td>
              <td>$ 36.750 CLP</td>
            </tr>
            <tr>
              <td>Inmersión doble con arriendo de equipo</td>
              <td>$ 100 USD</td>
              <td>$ 63.000 CLP</td>
            </tr>
          </tbody>
        </table>
      </div
    </div>
  </section>

</div>
