// @import "bootstrap";
// @import "~bootstrap"

@import 'bootstrap/dist/css/bootstrap.min.css';
// @import 'MDBFree/scss/mdb.scss';

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}
.navbar-custom {
  //background-color: rgba(0, 0, 0, 0.1) !important;
  background-color: #349A8B !important;
}

a.nav-link {
  color: white !important;

}

body {
  // font-size: 1.5em;
  background-color: #349A8B;
  color: white;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";

}

.carousel-caption {
  top: 80px;
  bottom: auto;
}

.anchor { padding-top: 90px; }

a.panel-curso {
    text-decoration: none;
}
a.panel-curso:link, a.panel-curso:visited {
    //color: blue;
    color: black;
}
a.panel-curso:hover {
    //color: red;
    color: black;
}

.card {
  color: black;
}

.card-title {
  font-size: 1.5em;
}

/*
.title {
  font-size: 2.5em;
}
.subtitle {
  font-size: 1.5em;
}
*/

.footer {
  //background: url('/public/images/fondo_footer.png');
  //height: 400px;
}
