// @import "bootstrap";
// @import "~bootstrap"

@import 'bootstrap/dist/css/bootstrap.min.css';
// @import 'MDBFree/scss/mdb.scss';

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

body {
  // font-size: 1.5em;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";

}

.carousel-caption {
  top: 60px;
  bottom: auto;
}

.anchor { padding-top: 90px; }

a.panel-curso {
    text-decoration: none;
}
a.panel-curso:link, a.panel-curso:visited {
    //color: blue;
    color: black;
}
a.panel-curso:hover {
    //color: red;
    color: black;
}

.title {
  font-size: 1.5em;
}

.footer {
  //background: url('/public/images/fondo_footer.png');
  height: 400px;
}
