/ %nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
%nav.navbar.navbar-dark.navbar-expand-lg.sticky-top.navbar-custom
  = link_to root_path, class: "navbar-brand" do
    / %img{:alt => "Buceo Canelillo Logo", :height => "70", :src => "/images/logo.svg", :width => "95"}/
    %img{:alt => "Buceo Canelillo Logo", :height => "70", :src => "/images/icon_logo_bc.png", :width => "95"}/
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      - unless @navegacion.nil?
        - @navegacion.each do |navegacion|
          %li{ class: "nav-item #{navegacion[:estado]}"}
            = link_to navegacion[:direccion], class: "nav-link" do
              = navegacion[:caption]
              %span.sr-only
